*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}


#color-display{
    display:flex;
}

#color-display div{
    width: 20%;
    height:100vh;
    border:1px black solid
}

header {
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    background-color: paleturquoise;
}

input[type ="color"]{
    border:5px solid #c4c4c4;
    width:5rem;
    height:3rem;
    margin-right: auto;
    padding: 0;
    border-radius: 5px;
}

select{
    margin: 0 auto;
    width:28rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

button {
    border-radius: 10px;
    border: none;
    padding: 1% 2%;
    font-weight: 700;
    font-family: inherit;
    box-shadow: 0 0 3px black;
    margin-left: 1%
}

.hexcode{
    font-weight: 700;
    background-color: #c4c4c4;
    color:black;
    text-align: center;
}